* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    padding: 10px 20px;
    background-color: #F2C512;
    border: none;
    font-weight: 600;
}

.title-line {
    width:170px;
    border: 2px solid #F2C512;
}

#header {
    height: 80px;
    transition: all 0.5s;
    z-index: 999;
    padding: 20px 0;
}

#header.header-scrolled {
    background: rgba(0, 0, 0, 0.4);
    height: 60px;
    padding: 10px 0;
    z-index: 99999;
}

#header .logo {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
}

#header .logo h1 {
    font-size: 36px;
    padding: 5px 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 2px;
    color: #fff;
    font-family: "Arial", sans-serif;
    text-transform: uppercase;
}

.wash {
    color: #F2C512;
}

#header .logo .line {
    width: 36px;
    position: absolute;
    left: 350px;
    top: 20px;
    border: 2px solid #F2C512;
    transform: rotate(90deg);
}

#header .logo ul {
    display: inline-block;
    margin-left: 20px;
}

#header .logo ul li {
    background: none;
    border: none;
    font-size: 11px;
    color: #F2C512;
    padding: 0;
}

@media (max-width: 1024px) {
    #header {
        height: 60px;
        padding: 10px 0;
    }
    #header .logo h1 {
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    #header {
        height: 60px;
        padding: 10px 0;
    }
    #header .logo h1 {
        font-size: 24px;
    }
}

@media (max-width: 479px) {
    #header {
        height: 60px;
        padding: 10px 0;
    }
    #header .logo h1 {
        font-size: 20px;
    }
}





.nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu > ul > li {
    position: relative;
    float: left;
    margin-top: -10px;
}

.nav-menu > ul > li:last-child a {
    background: #F2C512;
    color: #000;
}

.nav-menu a {
    display: block;
    position: relative;
    color: #fff;
    padding: 12px 20px;
    margin-top: 10px;
    transition: 0.3s;
    font-size: 14px;
    font-family: "Arial", sans-serif;
    font-weight: 700;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    background: #F2C512;
    text-decoration: none;
}

.header-scrolled .nav-menu > ul > li {
    background: none;
}




#hero {
    width: 100%;
    height: 100vh;
    -webkit-background-image: url("img/wallpaper1.jpg");
    -moz-background-image: url("img/wallpaper1.jpg");
    background-image: url("img/wallpaper1.jpg");
    background-size: cover;
    position: relative;
}

#hero .second {
    margin: 300px 0 0 25px;
}

#hero .second h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    color: #fff;
    text-align: left;
}

#hero .second h4 {
    width: 50%;
    color: #fff;
    margin: 30px 0;
    font-size: 18px;
    font-weight: 500;
}

#hero p {
    color: #fff;
    font-size: 18px;
    margin-top: 365px;
    transform: rotate(-90deg);
}

#hero .third h1 {
    color: rgba(255, 255, 255, 0.2);
    font-size: 70px;
    text-align: left;
    margin-top: 100px;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 36px;
        line-height: 36px;
    }
}



#first {
    background-color: #fafafa;
}

#first .text {
    text-align: center;
    margin-top: 30px;
    color: #F2C512;
}



#first .title {
    text-align: center;
    margin-top: 30px;
}

#first p {
    text-align: center;
}

#second h1 {
    margin-top: 240px;
}

#second hr {
    margin-top: 320px;
    width:150px;
    border: 3px solid #F2C512;
}

#second .box {
    border: 2px solid rgba(149, 149, 149, 0.3);
}

#second .active {
    width: 510px;
    height: 120px;
    background-color: #F2C512;
}


#third .image-box {
    background-color: #fff;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

#third .image-box img {
    border: none;
}

#third .image-box h2 {
    text-align: center;
}


#fourth .feedback {
    margin-top: 350px;
    color: rgba(200,200,200,0.2);
    font-size: 120px;
    transform: rotate(-90deg);
}

#fourth h1 {
    color: #fff;
}

#fourth .card-box {
    margin-top: -400px;
}

#fourth img {
    position: absolute;
    z-index: 999;
}



#fifth  .wrap:nth-child(2) {
    box-sizing: border-box;
    box-shadow: 20px -20px 0 rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.3);
}

#fifth .wrap {
    box-sizing: border-box;
    box-shadow: -20px -20px 0 rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.3);
}

#fifth .line1 {
    width: 100px;
    border: 1.5px solid  #F2C512;
    background: #F2C512;
}


#sixth h1 {
    color: #fff;
}

#seventh .table th, tr td:first-child {
    padding-left: 20px;
}

#tenth {
    background-image: url("img/bg-image.png");
    -webkit-background-image: url("img/bg-image.png");
    -moz-background-image: url("img/bg-image.png");
}

#tenth h1 {
    color: #fff;
}




#eleventh .quti {
    background-color: #fafafa;
}

#eleventh .quti button {
    font-size: 11px;
    padding: 5px 5px;
    clear: both;
}

footer p {
    color: #fff;
}



